.MuiInput-root {
  font-family: "NotoSansLight" !important;
  border-radius: 3px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d6d6d6;
  height: 4rem;
  padding-left: 0.5%;
}
.MuiInputAdornment-root {
  margin-left: 0.5rem;
}
.MuiButton-root {
  height: 4rem;
  color: #fff !important;
}
